ul {
    border: 1px solid black;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

.lni {
    color: antiquewhite;
}

